<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Properties</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/c1.css')}}">
</head>
<body>
    <center>
        <h1>Properties of the html page</h1>
        <img src="{{url_for('static', filename='images/img1.jpg')}}" alt="" width="=300px"
        height="250px">
        <a href="{{url_for('send_html')}}"><h1>send_html page</h1></a>
    </center>
</body>
</html>